<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<form action="/products">
    <label for="name">Name:
        <input id="name" type="text" name="name" value="">
    </label>
    <label for="price">Price:
        <input id="price" type="number" name="price" value="">
    </label>
    <button type="submit">Filter</button>
</form>

<h2>Products</h2>
<ul class="product-list">
    <li th:each="product : ${products}" class="product-item">
        <a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name()}">Name</a>
        <p th:text="|Описание: ${product.description()}|">Описание товара</p>
        <p th:text="|Цена: ${product.price()} руб.|">Цена товара</p>
        <p th:text="|Остаток: ${product.stock()}|">Остаток</p>
        <p th:each="category : ${product.categories}" th:text="|Категория: ${category.name}|">Категория</p>
    </li>
</ul>

</body>
</html>
